Repository kubernetes-sigs/container-object-storage-interface-controller, pull requests merged in 2022-09, with the labels that each got.

#66 Update Makefile
  Makefile
Labels: cncf-cla: yes, approved, size/XS

#67 Update Makefile
  Makefile
Labels: cncf-cla: yes, approved, size/XS, lgtm

#68 Fix: Bucketclaim object updation facing stale object and improved logging
  pkg/bucketclaim/bucketclaim.go
Labels: cncf-cla: yes, approved, size/M, ok-to-test, lgtm

#69 Fix to add missing parameters in case of existing bucket id
  pkg/bucketclaim/bucketclaim.go
Labels: cncf-cla: yes, approved, ok-to-test, size/XS, lgtm
